<div class="container">
    <div class="btns">
        <input type="button" value="Boton 1" (click)="get()">
        <input type="button" value="Boton 2">
        <input type="button" value="Boton 3">
        <input type="button" value="Boton 4">
        <input type="button" value="Boton 5">
        <input type="button" value="Boton 6">
        <input type="button" value="Boton 7">
        <input type="button" value="Boton 8">
    </div>

    <div class="response">
        <h1>La respuesta del servidor</h1>
        <div class="jsonResponse" *ngIf="jsonResponse">
            <div [innerHTML]="jsonResponse | prettyJson"></div>
        </div>
    </div>
</div>