<div class="container">
    <div class="btns">
        <input type="button" value="Traer todos los tickets" (click)="get()">
        <input type="button" value="Motivos de cambio de planes" (click)="getMotivoCambioPlan()">
        <input type="button" value="Lugares de donde vienen los cambios de planes" (click)="getLugarTicketCambioPlan()">
        <input type="button" value="Beneficios de plan de los primeros 10 clientes" (click)="getBeneficiosClientes()">
        <input type="button" value="Operaciones fallidas" (click)="getOperacionesFallidas()">
        <input type="button" value="Tickets de clientes en EEUU" (click)="getClientesEnEEUU()">
        <input type="button" value="Tickets derivados de oficinas a 100km de la capital de Florida" (click)="getCapitalFlorida()">
        <input type="button" value="Tickets de clientes con planes mayores a 50gb y de FibraOptica" (click)="getTicketsFibraOptica()">
    </div>

    <div class="response">
        <h1>La respuesta del servidor</h1>
        <div class="jsonResponse" *ngIf="jsonResponse">
            <div>
                <p> {{jsonResponse}} </p>
            </div>
        </div>
    </div>
</div>